<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Paraméter átadás</h1>
    <h3>Hello
        <strong>
            <%= name %>
        </strong>
    </h3>
    <h3>
        Id az url-en keresztül:
        <%= id %>
    </h3>

    <h4>
        kor:
        <%= data.age %>
        hobby:
        <%= data.hobby %>
    </h4>
</body>

</html>